*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

body{
    display: block;
    background: rgb(159, 159, 231);
    padding-left: 10%;
    padding-top: 5%;
}

.personne{
    width: 300px;
    text-align: left;
    padding: 2%;
    border: 2px solid rgb(159, 159, 231);
    display: block;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.personne label{
    margin-bottom: 10px;
    padding: 1%;
    border-bottom: 2px solid gray;
}

.personne br{
    margin-top: 15px;
    margin-bottom: 20px;
}