*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

body{
    display: block;
    background: rgb(159, 159, 231);
    padding-left: 2%;
    padding-top: 2%;
}

div[name=personne]{
    text-align: left;
    padding: 2%;
    border: 2px solid rgb(159, 159, 231);
    display: block;
    background: #fff;
    border-radius: 10px;
    margin: 10px;
}

div[name=personne] label{
    margin-bottom: 10px;
    padding: 1%;
    border-bottom: 2px solid gray;
}

div[name=personne] br{
    margin-top: 15px;
    margin-bottom: 20px;
}

.container{
    width: 550px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}