*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(159, 159, 231);
}

h3{
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

form{
    width: 400px;
    height: auto;
    /* border: 2px solid red; */
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background: #fff;
}

.notif{
    font-size: 15px;
    float: left;
}

.container div{
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 300px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    background: linear-gradient(rgb(111, 111, 196),rgb(127, 127, 189));
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.container div label{
    font-size: 15px;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    width: 200px;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border: none;
    background: linear-gradient(rgb(86, 86, 187),rgb(132, 132, 219));
}